@import "../../../styles.scss";

.card-img {
  width: 100%;
  height: 350px;
  border: none;
  background: $light;
  border-radius: $border-radius;

  img {
    width: 96%;
    height: 96%;
    border-radius: $border-radius;
  }
}

.card-mini {
  width: 100%;
  height: 70px;
  border: none;
  background: $light;
  border-radius: $border-radius;

  img {
    width: 95%;
    height: 95%;
    border-radius: $border-radius;
  }
}
