<div class="container-fluid footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-2 footer-logo mt-3 text-center">
                <img src="./assets/logofooter.png" alt="">
            </div>
            <div class="col-12 col-md-3 contacts mt-3 text-center">
                <h3>CONTATOS</h3>
                <span>
                    EMAIL: touchimports@gmail.com <br>
                    TELEFONE: (27) 99999-9999
                </span>
                <div>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram ms-2"></i></a>
                    <a href=""><i class="bi bi-whatsapp ms-2"></i></a>
                </div>
            </div>
            <div class="col-12 col-md-4 payment-methods mt-3 text-center">
                <h3>FORMAS DE PAGAMENTO</h3>
                <div class="mt-2">
                    <img src="./assets/boletoicon.png" alt="">
                    <img class="ms-2" src="./assets/visaicon.png" alt="">
                    <img class="ms-2" src="./assets/mastercardicon.png" alt="">
                    <br>
                    <img class="mt-2" src="./assets/eloicon.png" alt="">
                    <img class="mt-2 ms-2" src="./assets/pagseguroicon.png" alt="">
                </div>
            </div>
            <div class="col-12 col-md-3 category mt-3 text-center">
                <h3>CATEGORIAS</h3>
                <ul>
                    <li class="d-flex flex-column mt-1">
                        <a href="">CELULARES</a>
                        <a href="">FONES DE OUVIDO</a>
                        <a href="">RELÓGIOS</a>
                        <a href="">POWER BANK</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row copyright">
        <div class="col-12 text-center my-auto d-flex flex-column py-2">
            <span>COPYRIGHT TOUCH IMPORTS - 2022 - TODOS OS DIREITOS RESERVADOS</span>
            <span>CRIADO POR <a class="ms-1" href="http://github.com/hebertdelima13" target="_blank"><img
                        src="./assets/logohebert.svg" alt=""></a></span>
        </div>
    </div>
</div>