@import "../../../styles.scss";

.card {
  border: none;
  background: $light;
  border-radius: $border-radius;

  h6 {
    font-size: 0.7rem;
    font-weight: 500;
    margin: auto 0;

    span {
      font-size: 0.7rem;
      font-weight: 500;
      color: $primary;
    }
  }
}

input {
  font-size: 0.7rem;
  font-weight: 400;
  color: $black;
  width: 350px;
  height: 2rem;
  padding-left: 0.6rem;
  border-radius: $border-radius;
  border: 1px solid #ccc;
  outline: none;

  &::placeholder {
    color: #ccc;
  }
}

label {
  font-size: 0.8rem;
  font-weight: 500;
}

p {
  font-size: 0.8rem;
  font-weight: 400;
}

a {
  font-weight: 500;

  &:hover {
    color: $primary;
  }
}

button {
  font-size: 0.8rem;
  font-weight: 500;
  color: $white;
  width: 350px;
  height: 2rem;
  background: $primary;
  border: none;
  border-radius: $border-radius;

  &:hover {
    background: $black;
    color: $white;
  }
}

small {
  font-size: 0.6rem;
  font-weight: 400;
  color: red;
}
