/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
@import "node_modules/bootstrap-icons/font/bootstrap-icons.scss";
@import '~primeicons/primeicons.css';
@import "swiper/scss";
@import "swiper/scss/navigation";
@import "swiper/scss/pagination";
@import "../node_modules/swiper/swiper.scss";
@import "~ngx-toastr/toastr";

$primary: #ff9500;
$black: #000000;
$white: #ffffff;
$light: #f9f9f9;
$border-radius: 0.31rem;

* {
  font-family: "Poppins", sans-serif;
  list-style: none;
  text-decoration: none;
  color: $black;
}

a {
  cursor: pointer;
}

.swiper-pagination-bullet {
  background: $primary;
}

.swiper-button-prev,
.swiper-button-next {
  color: $primary;
}

.toast-success {
  background-color: $primary;
}

.toast-message {
  font-size: 0.7rem;
  color: #fff;
}

table {
  border: none;

  td {
    border-bottom-width: 0;
    border-bottom: 1px solid $light;
  }

  thead {
    border: none;
  }

  tbody {
    border: 0;
  }
}

.p-inputnumber-button, .p-inputnumber-input {
  width: 30px;
  height: 30px;
  background: none;
  border-radius: $border-radius!important;
  border: 1px solid #ccc;
  text-align: center;
  font-weight: 500;
  font-size: 0.7rem;
}

.p-inputnumber-button:hover {
  background: $primary;
  border: none; 

  .pi-plus:before, .pi-minus:before {
    color: #fff;
  }
}

.p-inputnumber-input {
  margin: 0 .25rem;
}